.cajaInicial{
    height: 940px;
    width: 100%;
    background-color: #F2F2F2;
}

.barraLateral{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #373737;
}
.logoShoes{
    margin-left: 1px;
    
}
.logoShoes > h1{
    margin-top: 25px;
    margin-left: 1px;
}
.logoShoes > h1 > a{
    color: #828282;
    font-size: 18px;
    text-decoration: none;
}
.logoShoes > h1 > a:hover{
    color: #FFFFFF;
}
.navItems{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
    height: 5%;
    width: 85%;
}
.navItems > ul{
    padding-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.navItems > ul > a{
    margin-right: 0px;
}
.navItems > ul:hover{
    background-color: #2B2B2B;
    border-radius: 10px;
    
}
.navsSelectors{
    color: #828282;
    text-decoration: none;
    font-size: 18px;
}